.add-book-container {
  min-height: 200px;
  max-height: 350px;
  background-color: rgba(187, 199, 135, 0.2);
  backdrop-filter: blur(4px);
  padding: 10px 10px 10px 10px;
  width: 30%;
  border-radius: 20px;
}
