.book-list-conainer {
  min-height: 200px;
  background-color: rgba(187, 199, 135, 0.15);
  backdrop-filter: blur(4px);
  padding: 10px 10px 10px 10px;
  width: 40%;

  border-radius: 20px;
}
